In [1]:
import pandas as pd
df = pd.DataFrame({"Data1": [10,20,30], "Data2":[40,50,60]})
norm_df = (df-df.min())/(df.max()-df.min())
print(norm_df)
# wonderfull

   Data1  Data2
0    0.0    0.0
1    0.5    0.5
2    1.0    1.0

In [4]:
data = {"name": ["Marta","Carla","Juan","Ana"],
"age":[20,21,30,35],
"gender":[True, True, False, True]}
a=pd.DataFrame(data, index=["m","c","j","a"])
a.loc["m":"j"]

    name  age  gender
m  Marta   20    True
c  Carla   21    True
j   Juan   30   False

In [14]:
data = {"name": ["Marta","Carla","Juan","Ana"],
"age":[40,21,18,35],
"gender":[True, True, False, True]}
a = pd.DataFrame(data)
a["name"].value_counts()

Marta    1
Carla    1
Juan     1
Ana      1
Name: name, dtype: int64

In [5]:
x = lambda a: a+10
print(x(5))

15